.addInput {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addInput form {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.addInput form button {
  width: 50%;
  align-self: center;
}

.addInput_form {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
