.navbar {
  width: 150px;
  height: 100%;

  background-color: #b1b2ff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  padding: 10px 7px 20px 0;

  position: fixed;
  top: 0;
  left: 0;
}

.navbar_top,
.navbar_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.navbar_nav_items,
.navbar_user {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 20px;

  padding: 0.5rem 0.3rem;

  cursor: pointer;
  border-radius: 0 20px 20px 0;

  transition: 0.5s ease-in-out;
}

.navbar_nav_items.active {
  background-color: #ffcf9d;
}

.navbar_user {
  font-weight: 500;
  text-transform: capitalize;
  cursor: text;
}

.navbar button {
  width: 80%;
  background-color: var(--primary-color);
}
